@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-default: #0464fb;
    --primary-light: #b4d0fe;
    --primary-medium: #0350c9;
    --primary-medium-dark: #023c97;
    --primary-dark: #011e4b;
  }
  #folder-root p:hover ~ svg #folder-path {
    fill: var(--primary-medium-dark);
  }

  /* Explanation: The recent projects carousel viewport (The visible part) */
  .embla__viewport {
    overflow: hidden;
  }
  /* Explanation: Container for each card */
  .embla__container {
    display: flex;
    gap: 24px;
  }

  /* Explanation: Container for all buttons */
  .embla__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
  }

  /* Explanation: Style for each button in the carousel */
  /* Code-Block - Start */
  .embla__button {
    z-index: 1;
    color: #023c97;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  /* Review: Repeated class */
  .embla__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla__button:disabled {
    opacity: 0.3;
  }
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }
  /* Code-Block - End */
}

@layer utilities {
  .press-animated {
    @apply border-[none] transition-[0.2s] duration-[all] active:scale-[0.90];
  }
  .no-drag-window {
    -webkit-app-region: no-drag;
  }
  .scrollbar-white ::-webkit-scrollbar {
    @apply bg-white;
  }
}

@layer base {
  button {
    @apply outline-none;
  }
  ::-webkit-scrollbar {
    @apply w-1 bg-neutral-200;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  :-webkit-scrollbar-track {
    @apply bg-transparent !w-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-[0.625rem]  bg-brand bg-clip-padding hover:bg-brand-medium;
  }
  .dark ::-webkit-scrollbar {
    @apply bg-gray-900;
  }
}

/* classes for the titlebar */

.cet-titlebar {
  @apply dark:!bg-neutral-950 !z-10 !h-12 !flex;
}
.cet-container {
  @apply !top-12;
}
/* .cet-titlebar-left {
  @apply !flex !flex-grow !items-center  !max-w-[20%] !w-fit;
} */
.cet-icon {
  @apply !w-[75px] !relative;
}
.cet-icon img {
  @apply !h-7 !w-fit;
}
.cet-window-title {
  @apply !max-w-full;
}
.cet-controls-container div {
  @apply flex items-center justify-center rounded-md;
}
.cet-window-icon {
  @apply !mr-5;
}
.cet-window-icon img {
  @apply !h-10 !w-auto;
}
.cet-window-controls {
  @apply !m-0 !right-0 !relative;
}
.cet-menubar div {
  @apply flex rounded-md p-2  text-sm font-semibold leading-6 hover:!bg-blue-100 hover:text-brand dark:hover:!bg-gray-800;
}
.cet-menubar-menu-container {
  @apply !mt-4 flex-col;
}
.cet-menubar {
  @apply !m-0 items-center !w-full !overflow-hidden;
}
.cet-title.cet-title-center {
  @apply !transform-none !max-w-[50%] !w-fit !flex-grow !static;
}

.inactive {
  @apply !bg-gray-900;
}
.cet-titlebar-right {
  @apply !h-10 !max-w-[25%] !w-fit !flex-grow;
}
.cet-titlebar-controls-container {
  @apply !flex !justify-end !items-center !ml-auto;
}
