@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-default: #0464fb;
    --primary-light: #b4d0fe;
    --primary-medium: #0350c9;
    --primary-medium-dark: #023c97;
    --primary-dark: #011e4b;
    /* Fallback variables to set the height of the titlebar based on OS */
    --oplc-title-bar-height: 2rem;
    --fallback-darwin-title-bar-height: 1.75rem;
  }

  /* This can be useful to allocate the main container */

  #folder-root p:hover ~ svg #folder-path {
    fill: var(--primary-medium-dark);
  }

  /* Explanation: The recent projects carousel viewport (The visible part) */
  .embla__viewport {
    overflow: hidden;
  }
  /* Explanation: Container for each card */
  .embla__container {
    display: flex;
    gap: 24px;
  }

  /* Explanation: Container for all buttons */
  .embla__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.6rem;
  }

  /* Explanation: Style for each button in the carousel */
  /* Code-Block - Start */
  .embla__button {
    z-index: 1;
    color: #023c97;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  /* Review: Repeated class */
  .embla__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla__button:disabled {
    opacity: 0.3;
  }
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }
  /* Code-Block - End */
}

@layer components {
  /* Classes for the custom titlebar*/
  .oplc-titlebar-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--oplc-title-bar-height);
  }
  .oplc-titlebar-content {
    position: absolute;
    top: 0;
    display: flex;
    user-select: none;
    height: 100%;
    background-color: var(--primary-dark);
    left: 0;
    width: 100%;
  }
  .oplc-titlebar-drag-region {
    app-region: drag;
  }
  .oplc-main-content {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: var(--oplc-title-bar-height);
    overflow: hidden;
  }
}

@layer utilities {
  .press-animated {
    @apply border-[none] transition-[0.2s] duration-[all] active:scale-[0.90];
  }
  .no-drag-window {
    -webkit-app-region: no-drag;
  }
  .scrollbar-white ::-webkit-scrollbar {
    @apply bg-white;
  }
}

@layer base {
  button {
    @apply outline-none;
  }
  ::-webkit-scrollbar {
    @apply w-1 bg-neutral-200;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  :-webkit-scrollbar-track {
    @apply bg-transparent !w-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-[0.625rem]  bg-brand bg-clip-padding hover:bg-brand-medium;
  }
  .dark ::-webkit-scrollbar {
    @apply bg-gray-900;
  }
}
