@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout {
    @apply grid grid-cols-[5rem_24rem_repeat(3,1fr)] grid-rows-[repeat(5,1fr)] gap-x-0 gap-y-0;
  }
  .sidebar {
    grid-area: 1 / 1 / 6 / 2;
  }
  .secondary-sidebar {
    grid-area: 1 / 2 / 6 / 3;
  }
  .main-content {
    grid-area: 1 / 2 / 6 / 6;
  }
  .hide-top-row {
    @apply h-0 w-0;
  }
  .comment-icon {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg);
  }
  .press-animated {
    @apply border-[none] transition-[0.2s] duration-[all] active:scale-[0.90];
  }
  .drag-window {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  .no-drag-window {
    -webkit-app-region: no-drag;
  }
  .transition-left {
    transition-property: left !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-titlebar {
    display: none;
  }
}

@layer base {
  button {
    @apply outline-none;
  }
  ::-webkit-scrollbar {
    @apply h-3.5 w-3.5 bg-transparent;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
  :-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-[0.625rem] border-4 border-solid border-transparent bg-open-plc-blue bg-clip-padding transition-all duration-[0.3s] hover:border-[0.188rem] hover:border-solid hover:border-transparent;
  }
  .dark ::-webkit-scrollbar {
    @apply bg-gray-900;
  }
}
