.react-flow {
  --xy-controls-button-background-color-default: #f5f5f5;
  --xy-controls-button-background-color-hover-default: #e0e0e0;
  --xy-controls-button-border-color-default: #d0d0d0;
  border: none
}

@media (prefers-color-scheme: dark) {
  .react-flow {
    --xy-controls-button-background-color-default: #2e3038;
    --xy-controls-button-background-color-hover-default: #5e6275;
    --xy-controls-button-border-color-default: #2e3038;
    border: none
  }
}

.react-flow__controls {
  gap: 0.2rem;
  box-shadow: none;
}

.react-flow__controls-button {
  border-radius: 25%;
}
